spring.application.name=fiscus-backend

# MySQL Connection (Reads from environment, defaults to local if missing)
spring.datasource.url=<db_url>
spring.datasource.username=<db_user>
spring.datasource.password=<db_user_password>
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver

# JPA/Hibernate Settings
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true